$color-primary: #2b2b2b;
$color-primary-hover: #5b5a5a;

@mixin font-normal {
  font-size: 14px;
  color: $color-primary;
}
@mixin font-normal-hover {
  font-size: 14px;
  color: $color-primary-hover;
}

@mixin layout-center {
  display: flex;
  align-items: center;
}

@mixin layout-vertical {
  display: flex;
  justify-content: center;
}
